/*
 * bg: #232530
 * fg: #F9CEC3
 * red: #D4516f
 * blue: #1d8991
 * purple: #B877DB
 * gray: #6c6f93
*/

@font-face {
    font-family: "Gothic A1";
    src: url("../assets/gothica1.ttf");
}

@font-face {
    font-family: "Gothic A1";
    src: url("../assets/montserrat-light.ttf");
    font-weight: 300;
}

@font-face {
    font-family: "Gothic A1";
    src: url("../assets/gothica1-medium.ttf");
    font-weight: 500;
}

@font-face {
    font-family: "Gothic A1";
    src: url("../assets/gothica1-semi.ttf");
    font-weight: 600;
}

@font-face {
    font-family: Rota;
    src: url("../assets/rota-black.otf");
    font-weight: 700;
}

@font-face {
    font-family: Rota;
    src: url("../assets/rota-bold.otf");
    font-weight: 600;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body::-webkit-scrollbar {
    display: none;
}

body {
    -ms-oveflow-style: none;
    scrollbar-width: none;
    background-color: #6c6f93;
    height: 100%;
    width: 100%;
    font-family: "Gothic A1", sans-serif;
    letter-spacing: 0.4px;
    color: #232530;
}

h1 {
    font-family: Rota;
    font-weight: 600;
    font-size: 4.5em;
    letter-spacing: 0.04rem;
    line-height: 0.9em;
}

a {
    text-decoration: none;
}

.hero {
    background-color: #232530;
    height: 100vh;
    width: 47vw;
    color: #F9CEC3;
    position: fixed;
}

.hero * {
    margin-left: 6rem;
}

.hero h1 {
    color: #D4516f;
    margin: 6rem 6rem 0 6rem;
}

.hero p {
    margin: 3rem 6rem;
    font-size: 0.95em;
    text-align: justify;
    line-height: 1.7em;
}

.button {
    display: inline-block;
    height: 3.2rem;
    text-align: center;
    font-size: 0.85em;
    letter-spacing: 1.3px;
    line-height: 1.15rem;
    border-radius: 5px;
    box-sizing: border-box;
    padding: 18px 32px;
    color: #F9CEC3;
    background-color: #1d8991;
}

.button:hover, .button:focus {
    text-decoration: underline;
    text-underline-offset: 1.3px;
}

.main {
    background-color: #6c6f93;
    height: 140vh;
    padding: 6rem;
    margin-left: 47vw;
}

.main div {
    margin-bottom: 6rem;
}

.main h1 {
    margin-top: 0;
    font-size: 2.3em;
    font-weight: 600;
}

.main p {
    margin-bottom: 1.5em;
    color: #232530;
    line-height: 1.5em;
    text-align: justify;
    font-weight: 500;
}
